/* Задаем цвет фона для всех страниц */
body {
    background-color: green; /* Светло-голубой фон */
    color: red; /* Основной цвет текста */
}

/* Стили для заголовков */
h1 {
    color: blue; /* Темно-синий цвет для заголовка h1 */
}

h2 {
    color: orange; /* Темно-синий цвет для заголовка h2 */
}

h3 {
    color: black; /* Голубой цвет для заголовка h3 */
}

/* Можно задать стиль для всех заголовков h1-h6 */
h1, h2, h3, h4, h5, h6 {
    font-family: Times New Roman, sans-serif; /* Шрифт для заголовков */
    margin-bottom: 40px;
}
